**Testing 101 - First Lab Activity**

Macasasa, Dorothy V. (2024)

*Note: This is Lab Activity 1 & 2*

In [ ]:
# Example
import time
print (time.ctime())

Fri Feb  2 04:46:35 2024

In [ ]:
time.sleep(5)
print(time.ctime())

Fri Feb  2 04:46:43 2024

**This my Python notebook**

*This*

~This~


**MARKDOWN**

In [ ]:
# Printing Hello World
print("This is Dorothy Macasasa, real last name HO. Nice to meet you!")

This is Dorothy Macasasa, real last name HO. Nice to meet you!

In [ ]:
print('Hello, world!!!!!!!')

Hello, world!!!!!!!

In [ ]:
# printing a number (string)
print('3')

3

In [ ]:
x = 9
print (x)
x=18

9

In [ ]:
x = 15
print (x+30)

45

In [ ]:
#setting Variable to numbers only otherwise it will not work (Sample Scenario)
D = Dorothy
print(D)

NameError: name 'Dorothy' is not defined

In [ ]:
# Setting another sample parameters
print(2*x+40)

70

In [ ]:
# Setting other parameter (x) and correlate it to first parameter (x)
y = x/2
print (2*y)

15.0

**Python 2nd Activity Arithmetic**

In [ ]:
x = int(input("X:"))

X:7

In [ ]:
y = int(input("Y:"))

Y:9

In [ ]:
sum = x +y
print ("Sum:")
x + y

Sum:

16

In [ ]:
product = x*y
print ("Product:")
x * y

Product:

63

In [ ]:
print("Product:", product)

Product: 63

In [ ]:
print("Sum:", sum)
print("Product:", product)

Sum: 16
Product: 63

In [ ]:
# using exponents
growth = x**y
print("Growth Yeild:",growth)

Growth Yeild: 40353607

In [ ]:
annuity = sum**product
print ("Annuity:", annuity)

Annuity: 7237005577332262213973186563042994240829374041602535252466099000494570602496

**Import Math library**

In [ ]:
import math

In [ ]:
math.log(35, 78)

0.8160628132201606

In [ ]:
round(4576876.0778690, 4)

4576876.0779

In [ ]:
x = 15
y = 4

x/y

3.75

In [ ]:
round(x/y,1)

3.8

In [ ]:
div = x/y
rn=round (div)
rnd=round (div , 1)
rnd2=round (div , 2)


print("Div:", div)
print("Round to whole", rn)
print("Round to 1 decimal point", rnd)
print("Round to 2 decimal point", rnd2)

Div: 3.75
Round to whole 4
Round to 1 decimal point 3.8
Round to 2 decimal point 3.75

In [ ]:
# Macasasa, Dorothy V.